
			<div class="banner">
                      <!--轮播 -->
						<div class="am-slider am-slider-default scoll" data-am-flexslider id="demo-slider-0">
							<ul class="am-slides">
								<li class="banner1"><a><img src="__HIMG_PATH__ad1.jpg" /></a></li>
								<li class="banner2"><a><img src="__HIMG_PATH__ad2.jpg" /></a></li>
								<li class="banner3"><a><img src="__HIMG_PATH__ad3.jpg" /></a></li>
								<li class="banner4"><a><img src="__HIMG_PATH__ad4.jpg" /></a></li>
							</ul>
						</div>
						<div class="clear"></div>	
			</div>
			<div class="shopNav">
				<div class="slideall">
					   <div class="long-title"><span class="all-goods">全部分类</span></div>
					   <div class="nav-cont">
							<ul>
								<li class="index"><a href="#">首页</a></li>
                                <li class="qc"><a href="#">闪购</a></li>
                                <li class="qc"><a href="#">限时抢</a></li>
                                <li class="qc"><a href="#">团购</a></li>
                                <li class="qc last"><a href="#">大包装</a></li>
							</ul>
						</div>					
						<!--侧边导航 -->
						<div id="nav" class="navfull">
							<div class="area clearfix">
								<div class="category-content" id="guide_2">
									<div class="category">
										<ul class="category-list" id="js_climit_li">
											{volist name="newarr" id = "bigCate" }
											<li class="appliance js_toggle relative first">

												<div class="category-info">
													<h3 class="category-name b-category-name">
													<i><img src="__HIMG_PATH__cake.png"></i><a class="ml-22" title="点心">{$bigCate.cname}</a></h3>
													<em>&gt;</em>
												</div>
												<div class="menu-item menu-in top">
													<div class="area-in">
														<div class="area-bg">
															<div class="menu-srot">

																<div class="sort-side">
																	<dl class="dl-sort">
																		{volist name="small" id ="smallDetail"}
																			{if $smallDetail.pid == $bigCate.cid}
																			<dt><span title="{$smallDetail.cname}">{$smallDetail.cname}</span></dt>
																				{volist name = "litter" id="litterDetail"}
																						{if $litterDetail.pid == $smallDetail.cid}
																						<dd><a title="{$litterDetail.cname}" href="{:url('index/details/introduction?sid='.$smallDetail['cid'])}"><span>{$litterDetail.cname}</span></a></dd>
																							{volist name ="alitter" id ="alitterDetail"}
																								{if $alitterDetail.pid == $litterDetail.cid}
																								<dd><a title="{$alitterDetail.cname}" href="{:url('index/details/introduction?sid='.$litterDetail['cid'])}"><span>{$alitterDetail.cname}</span></a></dd>
																							{/if}
																							{/volist}
																							{/if}
																				{/volist}
																				{/if}
																		{/volist}
																	</dl>
																</div>
																<div class="brand-side">
																	<dl class="dl-sort"><dt><span>实力商家</span></dt>
																		<dd><a rel="nofollow" title="呵官方旗舰店" target="_blank" href="#" rel="nofollow"><span  class="red" >呵官方旗舰店</span></a></dd>
																	</dl>
																</div>
															</div>
														</div>
													</div>
												</div>
												<b class="arrow"></b>	
											</li>
											{/volist}	
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!--大分类下面的小的分类的获取
						<script type="text/javascript">
							function getBigCid()
							{
								$.get("{:url('index/index/getCid')}",{cid:$("#bigCid").val()},function(data){
									console.log(data);
								},'json');
							}
						</script>-->
						<!--轮播-->
						<script type="text/javascript">
							(function() {
								$('.am-slider').flexslider();
							});
							$(document).ready(function() {
								$("li").hover(function() {
									$(".category-content .category-list li.first .menu-in").css("display", "none");
									$(".category-content .category-list li.first").removeClass("hover");
									$(this).addClass("hover");
									$(this).children("div.menu-in").css("display", "block")
								}, function() {
									$(this).removeClass("hover")
									$(this).children("div.menu-in").css("display", "none")
								});
							})
						</script>
					<!--走马灯 -->
				</div>
				<script type="text/javascript">
					if ($(window).width() < 640) {
						function autoScroll(obj) {
							$(obj).find("ul").animate({
								marginTop: "-39px"
							}, 500, function() {
								$(this).css({
									marginTop: "0px"
								}).find("li:first").appendTo(this);
							})
						}
						$(function() {
							setInterval('autoScroll(".demo")', 3000);
						})
					}
				</script>
			</div>
			<div class="shopMainbg">
				<div class="shopMain" id="shopmain">
					<!--今日推荐 -->
					<div class="am-g am-g-fixed recommendation">
						<div class="clock am-u-sm-3">
							<img src="__HIMG_PATH__2016.png "></img>
							<p>今日<br>推荐</p>
						</div>
						<div class="am-u-sm-4 am-u-lg-3 ">
							<div class="info ">
								<h3>真的有鱼</h3>
								<h4>开年福利篇</h4>
							</div>
							<div class="recommendationMain one">
								<a href="{:url('index/details/introduction')}"><img src="__HIMG_PATH__tj.png "></img></a>
							</div>
						</div>						
						<div class="am-u-sm-4 am-u-lg-3 ">
							<div class="info ">
								<h3>囤货过冬</h3>
								<h4>让爱早回家</h4>
							</div>
							<div class="recommendationMain two">
								<img src="__HIMG_PATH__tj1.png "></img>
							</div>
						</div>
						<div class="am-u-sm-4 am-u-lg-3 ">
							<div class="info ">
								<h3>浪漫情人节</h3>
								<h4>甜甜蜜蜜</h4>
							</div>
							<div class="recommendationMain three">
								<img src="__HIMG_PATH__tj2.png "></img>
							</div>
						</div>

					</div>
					<div class="clear "></div>
					<!--热门活动 -->
					<div class="am-container activity ">
						<div class="shopTitle ">
							<h4>活动</h4>
							<h3>每期活动 优惠享不停 </h3>
							<span class="more ">
                              <a href="# ">全部活动<i class="am-icon-angle-right" style="padding-left:10px ;" ></i></a>
                        </span>
						</div>
					  <div class="am-g am-g-fixed ">
						<div class="am-u-sm-3 ">
							<div class="icon-sale one "></div>	
								<h4>秒杀</h4>							
							<div class="activityMain ">
								<img src="__HIMG_PATH__activity1.jpg "></img>
							</div>
							<div class="info ">
								<h3>春节送礼优选</h3>
							</div>														
						</div>
						
						<div class="am-u-sm-3 ">
						  <div class="icon-sale two "></div>	
							<h4>特惠</h4>
							<div class="activityMain ">
								<img src="__HIMG_PATH__activity2.jpg "></img>
							</div>
							<div class="info ">
								<h3>春节送礼优选</h3>								
							</div>							
						</div>						
						
						<div class="am-u-sm-3 ">
							<div class="icon-sale three "></div>
							<h4>团购</h4>
							<div class="activityMain ">
								<img src="__HIMG_PATH__activity3.jpg "></img>
							</div>
							<div class="info ">
								<h3>春节送礼优选</h3>
							</div>							
						</div>						
						<div class="am-u-sm-3 last ">
							<div class="icon-sale "></div>
							<h4>超值</h4>
							<div class="activityMain ">
								<img src="__HIMG_PATH__activity.jpg "></img>
							</div>
							<div class="info ">
								<h3>春节送礼优选</h3>
							</div>													
						</div>

					  </div>
                   </div>
					<div class="clear "></div>
                    <div id="f1">
					<!--甜点-->
					{volist name="litter" id="bigCate"}
					<div class="am-container ">
						<div class="shopTitle ">
							<input type="hidden" value="{$bigCate.cid}" class="cid">
							<a href="cid={$bigCate.cid}"><h4>{$bigCate.cname}</h4></a>
							<h3>每一道甜品都有一个故事</h3>
						</div>
					</div>
					<div class="am-g am-g-fixed floodFour">
						<div class="am-u-sm-5 am-u-md-4 text-one list ">
							<div class="word">
								<a class="outer" href="#"><span class="inner"><b class="text">核桃</b></span></a>							
							</div>
							<a href="# ">
								<div class="outer-con ">
									<div class="title ">
									开抢啦！
									</div>
									<div class="sub-title ">
										零食大礼包
									</div>									
								</div>
                                  <img src="__HIMG_PATH__act1.png " />								
							</a>
							<div class="triangle-topright"></div>						
						</div>
						  {volist name="detInfoma" id="info"}
							<div class="am-u-sm-5 am-u-md-3 sug">
								 {if $bigCate.cid == $info.cid}
								<div class="outer-con ">
									<div class="title ">
										{$info.name}
									</div>									
									<div class="sub-title ">
										{$info.price}
									</div>
									<i class="am-icon-shopping-basket am-icon-md  seprate"></i>
								</div>
								<a href="{:url('details/introduction?sid='.$info['sid'])}" style="width:60px;height:60px;"><img src="__APIC_PATH__{$info.picture}" /></a>
							{/if}   
							</div>
							{/volist}
					</div>
					{/volist}
                 <div class="clear "></div>  
                 </div>    
		</div>
		<script type="text/javascript">
			$(function(){
				$.post("{:url('index/index/index/')}",{cid:$(".cid").val()},function(data){

				},'json');
			})
		</script>
		<!--菜单 -->
		
	</body>
</html>