
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">
					<div class="user-order">
						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">订单管理</strong> / <small>Order</small></div>
						</div>
						<hr/>

						<div class="am-tabs am-tabs-d2 am-margin" data-am-tabs>

							<ul class="am-avg-sm-5 am-tabs-nav am-nav am-nav-tabs">
								<li class="am-active"><a href="#tab1">所有订单</a></li>
								<li><a href="#tab2" class="am-active">待付款</a></li>
								<li><a href="#tab3" >待发货</a></li>
								<li><a href="#tab4">待收货</a></li>
								<li><a href="#tab5">待评价</a></li>
							</ul>
							<div class="am-tabs-bd">
								<div class="am-tab-panel am-fade am-in am-active" id="tab1">
									<div class="order-top">
										<div class="th th-item">
											<td class="td-inner">商品</td>
										</div>
										<div class="th th-price">
											<td class="td-inner">单价</td>
										</div>
										<div class="th th-number">
											<td class="td-inner">数量</td>
										</div>
										<div class="th th-operation">
											<td class="td-inner">商品操作</td>
										</div>
										<div class="th th-amount">
											<td class="td-inner">合计</td>
										</div>
										<div class="th th-status">
											<td class="td-inner">交易状态</td>
										</div>
										<div class="th th-change">
											<td class="td-inner">交易操作</td>
										</div>
									</div>
									<!--全部的订单-->
						      		{foreach $result as $key => $value}
									<div class="order-main">
										<div class="order-list">
											<div class="order-status5">
												
												<div class="order-title">
													<div class="dd-num">订单编号：<a href="javascript:;">{$value.ordercode}</a></div>
													<span>成交时间：{$value.create_time|date="y-m-d",###}</span>
													<!--    <em>店铺：小桔灯</em>-->
												</div>
												
												<div class="order-content">
													{foreach $value['shop_name'] as $shop => $shopvalue}
													<div class="order-left">
														<ul class="item-list">
	
															<li class="td td-item">
																<div class="item-pic">
																	<a href="#" class="J_MakePoint">
																		<img src="__APIC_PATH__{$shopvalue.picture}" class="itempic J_ItemImg">
																	</a>
																</div>
																<div class="item-info">
																	<div class="item-basic-info">
																		<a href="#">
																			<p>{$shopvalue.description}</p>
																			<p class="info-little">
																				好吃美味 ，对身体健康
																				<br/> </p>
																		</a>
																	</div>
																</div>
															</li>

															
															<li class="td td-price">
															
																<div class="item-price">
																	<?=$shopvalue['price'] * ((10 - $shopvalue['activity']) * 0.1)?>
																</div>
														
															</li>
															{foreach $value['amountnum'] as $k => $v}
															{if $k == $shop}
															<li class="td td-number">
																
																<div class="item-number">
																	<span>×</span>
																	{$v}	
																</div>
																
															</li>
															{/if}
															{/foreach}
															<li class="td td-operation">
																<div class="item-operation">
																	<a href="refund.html">退款/退货</a>
																</div>
															</li>
														</ul>
													</div>
													{/foreach}
													<div class="order-right">
														<li class="td td-amount">
															<div class="item-amount">
																合计：{$value.money}
																<p>含运费：<span>10.00</span></p>
															</div>
														</li>
														{if $value.status ==3}
														<div class="move-right">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus">卖家已发货</p>
																	<p class="order-info"><a href="orderinfo.html">订单详情</a></p>
																	<p class="order-info"><a href="logistics.html">查看物流</a></p>
																	<p class="order-info"><a href="#">延长收货</a></p>
																</div>
															</li>
															<li class="td td-change">
																<div class="am-btn am-btn-danger anniu">
																	确认收货</div>
															</li>
														</div>
														{/if}
														{if $value.status ==1}
														<div class="move-right">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus">等待买家付款</p>
																	<p class="order-info"><a href="#">取消订单</a></p>

																</div>
															</li>
															<li class="td td-change">
																<a href="pay.html">
																<div class="am-btn am-btn-danger anniu">
																	一键支付</div></a>
															</li>
														</div>
														{/if}
														{if $value.status ==2}
			                                             <div class="move-right">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus">买家已付款</p>
																	<p class="order-info"><a href="orderinfo.html">订单详情</a></p>
																</div>
															</li>
															<li class="td td-change">
																<div class="am-btn am-btn-danger anniu" id="tixing">
																	提醒发货</div>
															</li>
														</div>
														{/if}
														{if $value.status ==4}
														<div class="move-right">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus">交易成功</p>
																	<p class="order-info"><a href="orderinfo.html">订单详情</a></p>
																	<p class="order-info"><a href="logistics.html">查看物流</a></p>
																</div>
															</li>
															<li class="td td-change">
																<a href="commentlist.html">
																	<div class="am-btn am-btn-danger anniu">
																		评价商品</div>
																</a>
															</li>
														</div>
														{/if}

													</div>
												</div>
												
											</div>
										</div>
									</div>
								{/foreach}
						      </div>
						      <!--待付款的订单-->
							    <div class="am-tab-panel am-fade " id="tab2">
									<div class="order-top">
										<div class="th th-item">
											<td class="td-inner">商品</td>
										</div>
										<div class="th th-price">
											<td class="td-inner">单价</td>
										</div>
										<div class="th th-number">
											<td class="td-inner">数量</td>
										</div>
										<div class="th th-operation">
											<td class="td-inner">商品操作</td>
										</div>
										<div class="th th-amount">
											<td class="td-inner">合计</td>
										</div>
										<div class="th th-status">
											<td class="td-inner">交易状态</td>
										</div>
										<div class="th th-change">
											<td class="td-inner">交易操作</td>
										</div>
									</div>
									
						      		{foreach $result as $key => $value}
									<div class="order-main">
										<div class="order-list">
											<div class="order-status5">
												{if $value.status==1}
												<div class="order-title">
													<div class="dd-num">订单编号：<a href="javascript:;">{$value.ordercode}</a></div>
													<span>成交时间：{$value.create_time|date="y-m-d",###}</span>
													<!--    <em>店铺：小桔灯</em>-->
												</div>
												
												<div class="order-content">
													{foreach $value['shop_name'] as $shop => $shopvalue}
													<div class="order-left">
														<ul class="item-list">
	
															<li class="td td-item">
																<div class="item-pic">
																	<a href="#" class="J_MakePoint">
																		<img src="__APIC_PATH__{$shopvalue.picture}" class="itempic J_ItemImg">
																	</a>
																</div>
																<div class="item-info">
																	<div class="item-basic-info">
																		<a href="#">
																			<p>{$shopvalue.description}</p>
																			<p class="info-little">
																				好吃美味 ，对身体健康
																				<br/> </p>
																		</a>
																	</div>
																</div>
															</li>

															
															<li class="td td-price">
															
																<div class="item-price">
																	<?=$shopvalue['price'] * ((10 - $shopvalue['activity']) * 0.1)?>
																</div>
														
															</li>
														
															{foreach $value['amountnum'] as $k => $v}
															{if $k == $shop}
															<li class="td td-number">
																
																<div class="item-number">
																	<span>×</span>
																	{$v}	
																</div>
																
															</li>
															{/if}
															{/foreach}
														  
															<li class="td td-operation">
																<div class="item-operation">
																	<a href="refund.html">退款/退货</a>
																</div>
															</li>
														</ul>
													</div>
													{/foreach}
													<div class="order-right">
														<li class="td td-amount">
															<div class="item-amount">
																合计：{$value.money}
																<p>含运费：<span>10.00</span></p>
															</div>
														</li>
														<div class="move-right">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus">等待买家付款</p>
																	<p class="order-info"><a href="#">取消订单</a></p>

																</div>
															</li>
															<li class="td td-change">
																<a href="{:url('index/order/pay')}">
																<div class="am-btn am-btn-danger anniu">
																	一键支付</div></a>
															</li>
														</div>
													</div>
												</div>
												{/if}
											</div>
										</div>
									</div>
								{/foreach}
						      </div>
						      <!--待发货-->
						      <div class="am-tab-panel  am-fade" id="tab3">
									<div class="order-top">
										<div class="th th-item">
											<td class="td-inner">商品</td>
										</div>
										<div class="th th-price">
											<td class="td-inner">单价</td>
										</div>
										<div class="th th-number">
											<td class="td-inner">数量</td>
										</div>
										<div class="th th-operation">
											<td class="td-inner">商品操作</td>
										</div>
										<div class="th th-amount">
											<td class="td-inner">合计</td>
										</div>
										<div class="th th-status">
											<td class="td-inner">交易状态</td>
										</div>
										<div class="th th-change">
											<td class="td-inner">交易操作</td>
										</div>
									</div>
									<!--全部的订单-->
						      		{foreach $result as $key => $value}
									<div class="order-main">
										<div class="order-list">
											<div class="order-status5">
												{if $value.status ==2}
												<div class="order-title">
													<div class="dd-num">订单编号：<a href="javascript:;">{$value.ordercode}</a></div>
													<span>成交时间：{$value.create_time|date="y-m-d",###}</span>
													<!--    <em>店铺：小桔灯</em>-->
												</div>
												
												<div class="order-content">
													{foreach $value['shop_name'] as $shop => $shopvalue}
													<div class="order-left">
														<ul class="item-list">
	
															<li class="td td-item">
																<div class="item-pic">
																	<a href="#" class="J_MakePoint">
																		<img src="__APIC_PATH__{$shopvalue.picture}" class="itempic J_ItemImg">
																	</a>
																</div>
																<div class="item-info">
																	<div class="item-basic-info">
																		<a href="#">
																			<p>{$shopvalue.description}</p>
																			<p class="info-little">
																				好吃美味 ，对身体健康
																				<br/> </p>
																		</a>
																	</div>
																</div>
															</li>

															
															<li class="td td-price">
															
																<div class="item-price">
																<?=$shopvalue['price'] * ((10 - $shopvalue['activity']) * 0.1)?>	
																</div>
														
															</li>
														
														{foreach $value['amountnum'] as $k => $v}
															{if $k == $shop}
															<li class="td td-number">
																
																<div class="item-number">
																	<span>×</span>
																	{$v}	
																</div>
																
															</li>
															{/if}
															{/foreach}
														  
															<li class="td td-operation">
																<div class="item-operation">
																	<a href="refund.html">退款/退货</a>
																</div>
															</li>
														</ul>
													</div>
													{/foreach}
													<div class="order-right">
														<li class="td td-amount">
															<div class="item-amount">
																合计：{$value.money}
																<p>含运费：<span>10.00</span></p>
															</div>
														</li>
														<div class="move-right">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus">买家已付款</p>
																	<p class="order-info"><a href="orderinfo.html">订单详情</a></p>
																</div>
															</li>
															<li class="td td-change">
																<div class="am-btn am-btn-danger anniu" id="alertshop">
																	提醒发货</div>
															</li>
														</div>
													</div>
												</div>
												{/if}
											</div>
										</div>
									</div>
								{/foreach}
						      </div>
						      <!--待收货-->
						      <div class="am-tab-panel  am-fade" id="tab4">
									<div class="order-top">
										<div class="th th-item">
											<td class="td-inner">商品</td>
										</div>
										<div class="th th-price">
											<td class="td-inner">单价</td>
										</div>
										<div class="th th-number">
											<td class="td-inner">数量</td>
										</div>
										<div class="th th-operation">
											<td class="td-inner">商品操作</td>
										</div>
										<div class="th th-amount">
											<td class="td-inner">合计</td>
										</div>
										<div class="th th-status">
											<td class="td-inner">交易状态</td>
										</div>
										<div class="th th-change">
											<td class="td-inner">交易操作</td>
										</div>
									</div>
									
						      		{foreach $result as $key => $value}
									<div class="order-main">
										<div class="order-list">
											<div class="order-status5">
												{if $value.status==3}
												<div class="order-title">
													<div class="dd-num">订单编号：<a href="javascript:;">{$value.ordercode}</a></div>
													<span>成交时间：{$value.create_time|date="y-m-d",###}</span>
													<!--    <em>店铺：小桔灯</em>-->
												</div>
												<input type="hidden" value="{$value.orderid}" id="oid">
												<div class="order-content">
													{foreach $value['shop_name'] as $shop => $shopvalue}
													<div class="order-left">
														<ul class="item-list">
	
															<li class="td td-item">
																<div class="item-pic">
																	<a href="#" class="J_MakePoint">
																		<img src="__APIC_PATH__{$shopvalue.picture}" class="itempic J_ItemImg">
																	</a>
																</div>
																<div class="item-info">
																	<div class="item-basic-info">
																		<a href="#">
																			<p>{$shopvalue.description}</p>
																			<p class="info-little">
																				好吃美味 ，对身体健康
																				<br/> </p>
																		</a>
																	</div>
																</div>
															</li>

															
															<li class="td td-price">
															
																<div class="item-price">
																	<?=$shopvalue['price'] * ((10 - $shopvalue['activity']) * 0.1)?>
																</div>
														
															</li>
														
															{foreach $value['amountnum'] as $k => $v}
															{if $k == $shop}
															<li class="td td-number">
																
																<div class="item-number">
																	<span>×</span>
																	{$v}	
																</div>
															</li>
															{/if}
															{/foreach}
															<li class="td td-operation">
																<div class="item-operation">
																	<a href="refund.html">退款/退货</a>
																</div>
															</li>
														</ul>
													</div>
													{/foreach}
													<div class="order-right">
														<li class="td td-amount">
															<div class="item-amount">
																合计：{$value.money}
																<p>含运费：<span>10.00</span></p>
															</div>
														</li>
														<div class="move-right">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus">卖家已发货</p>
																	<p class="order-info"><a href="orderinfo.html">订单详情</a></p>
																	<p class="order-info"><a href="logistics.html">查看物流</a></p>
																	<p class="order-info"><a href="#">延长收货</a></p>
																</div>
															</li>
															<li class="td td-change">
																<div class="am-btn am-btn-danger anniu" id="oksave">
																	确认收货</div>
															</li>
														</div>
													</div>
												</div>
												{/if}
											</div>
										</div>
									</div>
								{/foreach}
						      </div>
						     
						      <script type="text/javascript">
						      		$("#oksave").click(function(){
						      			$.post("{:url('index/order/orderstatus')}",{oid:$("#oid").val()},function(data){

						      			},'json');
						      		})
						      </script>
						       <!--待评价-->
						      <div class="am-tab-panel  am-fade" id="tab5">
									<div class="order-top">
										<div class="th th-item">
											<td class="td-inner">商品</td>
										</div>
										<div class="th th-price">
											<td class="td-inner">单价</td>
										</div>
										<div class="th th-number">
											<td class="td-inner">数量</td>
										</div>
										<div class="th th-operation">
											<td class="td-inner">商品操作</td>
										</div>
										<div class="th th-amount">
											<td class="td-inner">合计</td>
										</div>
										<div class="th th-status">
											<td class="td-inner">交易状态</td>
										</div>
										<div class="th th-change">
											<td class="td-inner">交易操作</td>
										</div>
									</div>
						      		{foreach $result as $key => $value}
									<div class="order-main">
										<div class="order-list">
											<div class="order-status5">
												{if $value.status==4}
												<input type="hidden" value="{$value.orderid}" class="orderInfo">
												<div class="order-title">

													<div class="dd-num">订单编号：<a href="javascript:;">{$value.ordercode}</a></div>
													<span>成交时间：{$value.create_time|date="y-m-d",###}</span>
													<!--    <em>店铺：小桔灯</em>-->
												</div>
												<div class="order-content">
													{foreach $value['shop_name'] as $shop => $shopvalue}
													<div class="order-left">
														<input type="hidden" value="{$shopvalue.sid}" class="discc"/>
														<ul class="item-list">
														  
															<li class="td td-item">
																<div class="item-pic">
																	<a href="sid={$shopvalue.sid}" class="J_MakePoint">
																		<img src="__APIC_PATH__{$shopvalue.picture}" class="itempic J_ItemImg">
																	</a>
																</div>
																<div class="item-info">
																	<div class="item-basic-info">
																		<a href="#">
																			<p>{$shopvalue.description}</p>
																			<p class="info-little">
																				好吃美味 ，对身体健康
																				<br/> </p>
																		</a>
																	</div>
																</div>
															</li>

															
															<li class="td td-price">
															
																<div class="item-price">
																	<?=$shopvalue['price'] * ((10 - $shopvalue['activity']) * 0.1)?>
																</div>
														
															</li>
														
														{foreach $value['amountnum'] as $k => $v}
															{if $k == $shop}
															<li class="td td-number">
																
																<div class="item-number">
																	<span>×</span>
																	{$v}	
																</div>
																
															</li>
															{/if}
															{/foreach}
														  
															<li class="td td-operation">
																<div class="item-operation">
																	<a href="refund.html">退款/退货</a>
																</div>
															</li>
														</ul>
													</div>
													{/foreach}
													<div class="order-right">
														<li class="td td-amount">
															<div class="item-amount">
																合计：{$value.money}
																<p>含运费：<span>10.00</span></p>
															</div>
														</li>
														<div class="move-right">
															<li class="td td-status">
																<div class="item-status">
																	<p class="Mystatus">交易成功</p>
																	<p class="order-info"><a href="orderinfo.html">订单详情</a></p>
																	<p class="order-info"><a href="logistics.html">查看物流</a></p>
																</div>
															</li>
															<li class="td td-change">
																<a href="{:url('collection/commentlist?orderid='.$value.orderid)}">
																	<div class="am-btn am-btn-danger anniu">
																		评价商品</div>
																</a>
															</li>
														</div>
													</div>
												</div>
												{/if}
											</div>
										</div>
									</div>
								{/foreach}
						      </div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--底部-->
			</div>
			<div style="position:absolute; top:150px; left:65px;">
			<aside class="menu">
				<ul>
					<li class="person">
						<a href="index.html">个人中心</a>
					</li>
					<li class="person">
						<a href="#">个人资料</a>
						<ul>
							<li class="active"> <a href="{:url('index/user/information')}">个人信息</a></li>
							<li> <a href="{:url('index/user/safety')}">安全设置</a></li>
							<li> <a href="{:url('index/user/address')}">收货地址</a></li>
						</ul>
					</li>
					<li class="person">
						<a href="#">我的交易</a>
						<ul>
							<li><a href="{:url('index/order/order')}">订单管理</a></li>
						</ul>
					</li>
					
					<li class="person">
						<a href="#">我的小窝</a>
						<ul>
							<li> <a href="{:url('index/collection/collection')}">收藏</a></li>
							<li> <a href="{:url('index/collection/foot')}">足迹</a></li>
							<li> <a href="{:url('index/collection/comment')}">评价</a></li>
							<li> <a href="{:url('index/collection/news')}">消息</a></li>
						</ul>
					</li>

				</ul>
			</aside>
		</div>
		</div>
	<script type="text/javascript">
		$("#alertshop").click(function(){
			alert('提醒商家发货成功');
		});
	</script>
	<script type="text/javascript">
		$("#tixing").click(function(){
			alert('提醒商家发货成功');
		})
	</script>