			<script type="text/javascript" src="__HJS_PATH__jquery.js"></script>
						<script type="text/javascript">
					        function add(sid){
						        var t = $('#mon' + sid);
						        //console.log(t);
						        t.val(parseInt(t.val())+1);
						        //price
						        var price = parseInt($('#price' + sid).text());
						        //ccount
						        var count = parseInt(t.val());

						        var sum = parseInt(price * count);

						        $('#count'+sid).text(sum);
					        }

					        function del(sid){
					        	var t=$(('#mon' + sid));
					        	
						        t.val(parseInt(t.val())-1)
						        if(parseInt(t.val())<0) {
							        t.val(0);
						         }
						        var price = parseInt($('#price' + sid).text());
						        var count = parseInt(t.val());
						        var sum = parseInt(price * count);
						        $('#count'+sid).text(sum);
					        }
			</script>
			<script type="text/javascript">
				
                   // 得到的check 标签的 用来判断是否选择 需要循环判断
                  // 得到显示总钱数的标签
                  // 得到兄弟的兄弟的的值。



					
					// ccount.text(totlecount);
					 //console.log()

				
			</script>
			<div class="clear"></div>
			<div class="concent">
				<div id="cartTable">
					<div class="cart-table-th">
						<div class="wp">
							<div class="th th-chk">
								<div id="J_SelectAll1" class="select-all J_SelectAll">

								</div>
							</div>
							<div class="th th-item">
								<div class="td-inner">商品信息</div>
							</div>
							<div class="th th-price">
								<div class="td-inner">单价</div>
							</div>
							<div class="th th-amount">
								<div class="td-inner">数量</div>
							</div>
							<div class="th th-sum">
								<div class="td-inner">金额</div>
							</div>
							<div class="th th-op">
								<div class="td-inner">操作</div>
							</div>
						</div>
					</div>
					<div class="clear"></div>
					<tr class="item-list">
						<div class="bundle  bundle-last ">
							<div class="clear"></div>
							<div class="bundle-main">

								{if !empty(session('username'))}
								{if !empty($shopsum)}
								{volist name="shopsum" id="gwc"}
								<ul class="item-content clearfix">
									<li class="td td-chk">
										
										<div class="cart-checkbox ">
											<input class="check checkinfo" sid="{$gwc.sid}" type="checkbox" value="{$gwc.sid}">
											<label for="{$gwc.sid}"></label>
										</div>
									</li>
									<li class="td td-item">
										<div class="item-pic">
											
											<a href="{:url('details/introduction?sid='.$gwc.sid)}" target="_blank" data-title="{$gwc.description}" class="J_MakePoint" data-point="tbcart.8.12">
												<img src="__APIC_PATH__{$gwc.picture}" class="itempic J_ItemImg"></a>
										</div>
										<div class="item-info">
											<div class="item-basic-info">
												<a href="#" target="_blank" title="{$gwc.description}" class="item-title J_MakePoint" data-point="tbcart.8.11">{$gwc.description}</a>
											</div>
										</div>
									</li>
									<li class="td td-info">
										<div class="item-props item-props-can">
											<span class="sku-line">品牌：{$gwc.brand}</span>
											<span class="sku-line">口味：
															{if $gwc['taste'] == '1'}
															原味
															{elseif $gwc['taste'] == '2'}
															奶油
															{elseif $gwc['taste'] == '3'}
															炭烧
															{elseif $gwc['taste'] == '4'}
															咸香
															{/if}
											</span>
											
											<i class="theme-login am-icon-sort-desc"></i>
										</div>
									</li>
									<li class="td td-price">
										<div class="item-price price-promo-promo">
											<div class="price-content">
												<div class="price-line">
													<em class="price-original">
														{$gwc.price}
													</em>
												</div>
												<div class="price-line">
													<em class=" J_Price price-now" tabindex="0" id="price{$gwc.sid}">{switch name ="$gwc.activity"}
														{case value="0"}
														{$gwc.price}
														{/case}
														{case value="1"}   
														<?php echo $gwc['price']*0.9;?> 
														{/case}
														{/switch}
													</em>
												</div>
											</div>
										</div>
									</li>
									<li class="td td-amount">
										<div class="amount-wrapper ">
											<div class="item-amount ">
												<div class="sl">
													<input class="min am-btn am-btn-default" name="" type="button" value="-" onclick="del({$gwc.sid})"/>
													<input class="text_box" name=""  id ="mon{$gwc.sid}" type="text" value="1" style="width:30px;" />
													<input class="add am-btn am-btn-default" name="" type="button" value="+" onclick="add({$gwc.sid})"/>
												</div>
											</div>
										</div>
									</li>
									<li class="td td-sum">
										<div class="td-inner">
											<em tabindex="0" class="Money J_ItemSum number" id="count{$gwc.sid}" name="totle">
												{switch name ="$gwc.activity"}
														{case value="0"}
														{$gwc.price}
														{/case}
														{case value="1"}   
														<?php echo $gwc['price']*0.9;?> 
														{/case}
														{/switch}
													</em>
										</div>
									</li>

									<li class="td td-op">
										<div class="td-inner">
											<a title="移入收藏夹" class="btn-fav" href="#">移入收藏夹</a>
											<a href="javascript:;" data-point-url="#" class="delete">删除</a>
										</div>
									</li>
								</ul>
								{/volist}
								{/if}
								{/if}
							</div>
						</div>
					</tr>
					<div class="clear"></div>
				<div class="float-bar-wrapper">
					<div id="J_SelectAll2" class="select-all J_SelectAll">
						<div class="cart-checkbox">
							<input class="check-all check" id="J_SelectAllCbx2" name="select-all" type="checkbox">
							<label for="J_SelectAllCbx2"></label>
						</div>
						<span>全选</span>
					</div>
					<div class="operations">
						<a href="#" hidefocus="true" class="deleteAll">删除</a>
						<a href="#" hidefocus="true" class="J_BatchFav">移入收藏夹</a>
					</div>
					<div class="float-bar-right">
						<div class="amount-sum">
							<span class="txt">已选商品</span>
							<em id="J_SelectedItemsCount">0</em><span class="txt">件</span>
							<div class="arrow-box">
								<span class="selected-items-arrow"></span>
								<span class="arrow"></span>
							</div>
						</div>
						<div class="price-sum">
							<span class="txt">合计:</span>
							<strong class="price">¥<em id="c">0.00</em></strong>
						</div>
						<div class="btn-area">
							<a href="#" id="J_Go" onclick="jiesuan()" class="submit-btn submit-btn-disabled" aria-label="请注意如果没有选择宝贝，将无法结算">
								<span>结&nbsp;算</span></a>
						</div>
					</div>
				</div>
			</div>
			<script type="text/javascript">
			// 全选按钮 点击全选所有的都可以选上
/*				var oId = document.getElementsByName('items[]');
				var oAll = document.getElementsByName('select-all')[0];
				var count = oId.length;
				for (var i = 0; i < count; i++) {
					oId[i].onclick = function(){
						var status = true;
						for (var i = 0; i < count; i++) {
							if (oId[i].checked == false) {
								status = false;
								break;
							}
						}
						oAll.checked = status;
					}
				}
				function selAll(stu)
				{
					for (var i in oId) {
						oId[i].checked = stu;
					}
				}*/
				// function quanxuan(obj){
				// 	var checkinfo = $('.check');
				// 	for(var i =0;i<checkinfo.length;i++){
				// 		if($(checkinfo[i]).prop('checked')){
				// 			alert($(checkinfo[i]).parent().parent().next().next().next().next().next().find('.Money').html());
				// 		}
				// 	}
				// }
				// function danxuan(obj){

				// 	var money = $(obj).parent().parent().next().next().next().next().next().find('.Money').html();
				// 	/*alert(money);
				// 	var sid = $(obj).val();*/
				// 	$('#J_Total').html(money);
				// }
			</script>
			
			<!--操作页面-->
			<div class="theme-popover-mask"></div>
		<!--引导 -->
		<div class="navCir">
			<li><a href="{:url('index/index/index')}"><i class="am-icon-home "></i>首页</a></li>
			<li><a href="{:url('index/order/sort')}"><i class="am-icon-list"></i>分类</a></li>
			<li class="active"><a href="{:url('index/order/shopcart')}"><i class="am-icon-shopping-basket"></i>购物车</a></li>	
			<li><a href="{:url('index/collection/collection')}"><i class="am-icon-user"></i>我的</a></li>					
		</div>
	</body>
								<script type="text/javascript">
                                            var num = 0;
                                            var count =0;
                                            var size =[];
                                            var sidnum = [];
											$('.checkinfo').change(function(){
												var checkbox = $(this);
												var sid = parseInt(checkbox.attr('sid'));
												count = parseInt($('#count' + sid).text());
												var value = checkbox.attr('checked');
												if (value) {
													sidnum[sid] =parseInt(sid); 
													parseInt(++num);
													//alert(num);
													size[sid] =parseInt($("#mon" + sid).val());
													//console.log(size);
													f = parseInt($('#c').text()) + count;
													$('#J_SelectedItemsCount').text(num);
													$('#c').text(f);
												} else {
													parseInt(--num);
													f = parseInt($('#c').text()) - count;
													$('#J_SelectedItemsCount').text(num);
													$('#c').text(f);
												}
												
											})
											$('#J_SelectAllCbx2').change(function(){

												checkinfo = $(this).prop('checked');
												if(checkinfo){
													$('.checkinfo').prop('checked',true).change();
												} else {
													$('.checkinfo').prop('checked',false).change();
													num = 0;
													count = 0;
												
													sidnum = [];
													$('#J_SelectedItemsCount').text(num);
													$('#c').text(count);
												}
												
											})
				
			</script>
			<script type="text/javascript">
			    
			   
			   
			   
				function jiesuan()
				{   //商品对应的数量
					var ordersize = 0;
					var godnum = [];
					// 商品的sid
					var sid = [];
					// 商品对应的钱数
					var sizen = []; 
					//alert(44);
					var checkinfo = $('.check');
					for(var i =0 ; i < checkinfo.length; i++){
						if($(checkinfo[i]).prop('checked')){
							ordersize++;
							// 存储的商品的sid
					        sid[i] = parseInt($(checkinfo[i]).val());
					       
							//qi 找钱数
							sizen[i]=parseInt($(checkinfo[i]).parent().parent().next().next().next().next().next().find('.Money').text());
							 //alert(sizen[i]);
							 //console.log(sizen[i]);
							 // 存储的数量
							godnum[i]=parseInt($(checkinfo[i]).parent().parent().next().next().next().next().find('.text_box').val());
						}
					}
					//console.log(sizen);
					var zongmoney = parseInt($("#c").text());
					//var zongnum = parseInt($("#J_SelectedItemsCount").text());
					$.post("{:url('index/order/orderdetial')}",{sizen:sizen,godnum:godnum,zongmoney:zongmoney,ordersize:ordersize,sid:sid},function(data){
							if(data.errcode){
								window.location.href="pay"; 
							}else{
                                window.location.href="shopcart";  
							}
					},'json');
				}
			</script>
</html>

