<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>盒老师</title>
	<meta name="keywords" content="盒老师">
	<meta name="content" content="盒老师">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <link type="text/css" rel="stylesheet" href="__ADMIN_PATH__re/css/login.css">
    <!-- <script type="text/javascript" src="__ADMIN_PATH__re/js/jquery.min.js"></script> -->
    <script type="text/javascript" src="__ADMIN_PATH__re/js/jQuery-1.11.3.min.js"></script>
</head>
<body class="login_bj" >
<div class="zhuce_body">
	<div class="logo"><a href="#"><img src="__ADMIN_PATH__re/images/logo.png" width="114" height="54" border="0"></a></div>
    <div class="zhuce_kong login_kuang">
    	<div class="zc">
        	<div class="bj_bai" style="height:400px;">
            <h3>登录</h3>
       	  	<form action="{:url('admin/auth/dologin')}" method="post" onsubmit="return login()">
                <input name="username" type="text" id="username" onblur="checkusername()" class="kuang_txt" placeholder="用户名">
                <input name="password" type="password" id="pwd" class="kuang_txt" id="pwd" placeholder="密码" onblur="checkpwd()">
                <input type="text" name="code" placeholder="验证码" onblur="checkcode()" id="code" class="kuang_txt">
                <div><img src="{:captcha_src()}" alt="captcha"  onclick="this.src = this.src+'?'"/></div>
                <div>
               		<a href="index.php?m=home&c=User&a=find">找回密码？</a><input name="" type="checkbox" value="" checked><span>记住我</span> 
                </div>
                <input type="submit" class="btn_zhuce" value="登录" id="lo" />
                </form>
            </div>
        	<div class="bj_right" style="height:400px;">
            	<p>使用以下账号直接登录</p>
                <a href="#" class="zhuce_qq">QQ注册</a>
                <a href="#" class="zhuce_wb">微博注册</a>
                <a href="#" class="zhuce_wx">微信注册</a>
                <p>已有账号？<a href="#">立即登录</a></p>
            
            </div>
        </div> 
        <P>Diyhe.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;欢迎您定制盒子模型  更多模板：<a href="http://www.mycodes.net/" target="_blank">源码之家</a></P>
    </div>

</div>
    
</body>
</html>
<script type="text/javascript">
// $('#lo').click(function(){
//    var code = $('input[name=code]').val();
//    var name = $('input[name=username]').val();
//    var pass = $('input[name=password]').val();
//    $.post("{:url('admin/auth/dologin')}",{code:code,username:name,pass:pass},function(data){
//     console.log(data);
//     if(data['status'] ==1)
//     {
//         $this->success('成功',url('admin/index/index'));
//     }else{
//        $this->error('用户不存在',url('admin/auth/register'));
//     }
//    },'json');
// })
function checkusername(){
    if($("#username").val() == ''){
        $("#username").css('border', '1px solid red');
        return false;
    }else{
        $("#username").css('border', '1px solid green');
        return true;
    }
}
function checkpwd(){
    if($("#pwd").val() == ''){
        $("#pwd").css('border', '1px solid red');
        return false;
    }else{
        $("#pwd").css('border', '1px solid green');
        return true;
    }
}
function checkcode(){
    if($("#code").val() == ''){
        $("#code").css('border', '1px solid red');
        return false;
    }else{
        $("#code").css('border', '1px solid green');
        return true;
    }
}
function login(){
    if(checkusername() && checkpwd() && checkcode()){
        return true;
    }else{
        return false;
    }
}
</script>


