
		<script type="text/javascript" src="__HJS_PATH__jsAddress.js"></script>
		<link href="__HCSS_PATH__personal.css" rel="stylesheet" type="text/css">
		<link href="__HCSS_PATH__addstyle.css" rel="stylesheet" type="text/css">
	
		<script src="__HJS_PATH__amazeui.js"></script>
		<div class="nav-table">
			<div class="long-title"><span class="all-goods">全部分类</span></div>
			<div class="nav-cont">
				<ul>
					<li class="index"><a href="#">首页</a></li>
					<li class="qc"><a href="#">闪购</a></li>
					<li class="qc"><a href="#">限时抢</a></li>
					<li class="qc"><a href="#">团购</a></li>
					<li class="qc last"><a href="#">大包装</a></li>
				</ul>
				<div class="nav-extra">
					<i class="am-icon-user-secret am-icon-md nav-user"></i><b></b>我的福利
					<i class="am-icon-angle-right" style="padding-left: 10px;"></i>
				</div>
			</div>
		</div>
		<b class="line"></b>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">

					<div class="user-address">
						<!--标题 -->
						<div class="am-cf am-padding">
							<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">地址管理</strong> / <small>Address&nbsp;list</small></div>
						</div>
						<hr/>
						<ul class="am-avg-sm-1 am-avg-md-3 am-thumbnails">
                           {volist name="result" id = "address" }
							<li class="user-addresslist">
								<span class="new-option-r" name="defaultAddress"><i class="am-icon-check-circle"></i>默认地址</span>
								<p class="new-tit new-p-re">
									<span class="new-txt">{$address.uname}</span>
									<span class="new-txt-rd2">{$address.phone}</span>
								</p>
								<div class="new-mu_l2a new-p-re">
									<p class="new-mu_l2cw">
										<span class="title">地址：</span>
										<span class="province">{$address.province}</span>省
										<span class="city">{$address.city}</span>市
										<span class="dist">{$address.town}</span>区
										<span class="street">{$address.address}</span></p>
								</div>
								<div class="new-addr-btn">
									<a href="#"><i class="am-icon-edit"></i>编辑</a>
									<span class="new-addr-bar">|</span>
									<a href="javascript:void(0);" onclick="delClick({$address.aid});"><i class="am-icon-trash"></i>删除</a>
								</div>
							</li>
							{/volist}
						</ul>
						<div class="clear"></div>
						<a class="new-abtn-type" data-am-modal="{target: '#doc-modal-1', closeViaDimmer: 0}">添加新地址</a>
						<!--例子-->
						<div class="am-modal am-modal-no-btn" id="doc-modal-1">
							<div class="add-dress">
								<!--标题 -->
								<div class="am-cf am-padding">
									<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">新增地址</strong> / <small>Add&nbsp;address</small></div>
								</div>
								<hr/>
								<div class="am-u-md-12 am-u-lg-8" style="margin-top: 20px;">
									<form class="am-form am-form-horizontal">
										<div class="am-form-group">
											<label for="user-name" class="am-form-label">收货人</label>
											<div class="am-form-content">
												<input type="text" id="user-name" placeholder="收货人">
											</div>
										</div>
										<div class="am-form-group">
											<label for="user-phone" class="am-form-label">手机号码</label>
											<div class="am-form-content">
												<input id="user-phone" placeholder="手机号必填" type="email" onblur="checkPhone()">
											</div>
										</div>
										<div class="am-form-group">
											<label for="user-address" class="am-form-label">所在地</label>
											<div class="am-form-content address">
												<select id="cmbProvince" name="cmbProvince"  style="width:130px;"></select>  
						                        <select id="cmbCity" name="cmbCity" style="width:130px;" ></select>  
						                        <select id="cmbArea" name="cmbArea" style="width:130px;"></select>  
												<script type="text/javascript">  
								                    addressInit('cmbProvince', 'cmbCity', 'cmbArea');  
						               			</script>  
											</div>
										</div>
										<div class="am-form-group">
											<label for="user-intro" class="am-form-label">详细地址</label>
											<div class="am-form-content">
												<textarea class="" rows="3" id="user-intro" placeholder="输入详细地址"></textarea>
												<small>100字以内写出你的详细地址...</small>
											</div>
										</div>
										<div class="am-form-group">
											<div class="am-u-sm-9 am-u-sm-push-3">
												<a class="am-btn am-btn-danger" id ="save">保存</a>
												<a href="javascript: void(0)" class="am-close am-btn am-btn-danger" data-am-modal-close>取消</a>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<script type="text/javascript">
						function checkPhone()
						{
							var Phone = $("#user-phone").val();
							if(!(/^1[3|4|5|7|8][0-9]{9}$/.test(Phone)))
					        {
					        	$("#user-phone").css = ('border','1px solid red');
					           	$("#user-phone").val('手机号格式错误');
					            return false;
					        }
					        return true;
						}
					</script>
					<script type="text/javascript">
						function delClick(obj)
						{
							$.get("{:url('index/user/deleteInfo')}",{"aid":obj},function(data){
								console.log(data);
							},'json');
						}
					</script>
					<script type="text/javascript">
						$(document).ready(function() {							
							$(".new-option-r").click(function() {
								$(this).parent('.user-addresslist').addClass("defaultAddr").siblings().removeClass("defaultAddr");
							});
							var $ww = $(window).width();
							if($ww>640) {
								$("#doc-modal-1").removeClass("am-modal am-modal-no-btn")
							}
						})

					</script>
					<script type="text/javascript">
						$("#save").click(function(){
							$.post("{:url('index/user/save')}",
							{
								username:$("#user-name").val(),
								phone: $("#user-phone").val(),
								province: $("#cmbProvince").val(),
								city:$("#cmbCity").val(),
								area:$("#cmbArea").val(),
								detail: $("#user-intro").val()
							},
							function(data){
								console.log(data);
							},'json');
						});
					</script>
					<div class="clear"></div>
				</div>
			</div>
			<div style="position:absolute; top:190px; left:240px;">
			<aside class="menu">
				<ul>
					<li class="person{"
						<a href="{:url('index/user/information')}">个人中心</a>
					</li>
					<li class="person">
						<a href="#">个人资料</a>
						<ul>
							<li class="active"> <a href="{:url('index/user/information')}">个人信息</a></li>
							<li> <a href="{:url('index/user/safety')}">安全设置</a></li>
							<li> <a href="{:url('index/user/address')}">收货地址</a></li>
						</ul>
					</li>
					<li class="person">
						<a href="#">我的交易</a>
						<ul>
							<li><a href="{:url('index/order/order')}">订单管理</a></li>
							<li> <a href="{:url('index/order/change')}">退款售后</a></li>
						</ul>
					</li>
					

					<li class="person">
						<a href="#">我的小窝</a>
						<ul>
							<li> <a href="{:url('index/collection/collection')}">收藏</a></li>
							<li> <a href="{:url('index/collection/foot')}">足迹</a></li>
							<li> <a href="{:url('index/collection/comment')}">评价</a></li>
							<li> <a href="{:url('index/collection/news')}">消息</a></li>
						</ul>
					</li>

				</ul>
			</aside>
		</div>
		</div>
	</body>
</html>
