
		<link href="__HCSS_PATH__stepstyle.css" rel="stylesheet" type="text/css">
            <div class="nav-table">
					   <div class="long-title"><span class="all-goods">全部分类</span></div>
					   <div class="nav-cont">
							<ul>
								<li class="{:url('index/index/index')}"><a href="#">首页</a></li>
                                <li class="qc"><a href="#">闪购</a></li>
                                <li class="qc"><a href="#">限时抢</a></li>
                                <li class="qc"><a href="#">团购</a></li>
                                <li class="qc last"><a href="#">大包装</a></li>
							</ul>
						    <div class="nav-extra">
						    	<i class="am-icon-user-secret am-icon-md nav-user"></i><b></b>我的福利
						    	<i class="am-icon-angle-right" style="padding-left: 10px;"></i>
						    </div>
						</div>
			</div>
			<b class="line"></b>
		<div class="center">
			<div class="col-main">
				<div class="main-wrap">

					<div class="am-cf am-padding">
						<div class="am-fl am-cf"><strong class="am-text-danger am-text-lg">绑定手机</strong> / <small>Bind&nbsp;Phone</small></div>
					</div>
					<hr/>
					<!--进度条-->
					<div class="m-progress">
						<div class="m-progress-list">
							<span class="step-1 step">
                                <em class="u-progress-stage-bg"></em>
                                <i class="u-stage-icon-inner">1<em class="bg"></em></i>
                                <p class="stage-name">绑定手机</p>
                            </span>
							<span class="step-2 step">
                                <em class="u-progress-stage-bg"></em>
                                <i class="u-stage-icon-inner">2<em class="bg"></em></i>
                                <p class="stage-name">完成</p>
                            </span>
							<span class="u-progress-placeholder"></span>
						</div>
						<div class="u-progress-bar total-steps-2">
							<div class="u-progress-bar-inner"></div>
						</div>
					</div>
					<form class="am-form am-form-horizontal">
						<div class="am-form-group bind">
							<label for="user-phone" class="am-form-label">验证手机</label>
							<div class="am-form-content">
								<span id="user-phone"><?php echo $phone; ?></span>
							</div>
						</div>
						<div class="am-form-group code">
							<label for="user-code" class="am-form-label">验证码</label>
							<div class="am-form-content">
								<input type="tel" id="user-code" placeholder="短信验证码" onblur = "doreg()">
							</div>
							<a class="btn" href="javascript:void(0);" onclick="sendMobileCode();">
								<div class="am-btn am-btn-danger" id="code">验证码</div>
							</a>
						</div>
						<div class="am-form-group">
							<label for="user-new-phone" class="am-form-label">验证手机</label>
							<div class="am-form-content">
								<input type="tel" id="user-new-phone" placeholder="绑定新手机号">
							</div>
						</div>
						<div class="am-form-group code">
							<label for="user-new-code" class="am-form-label">验证码</label>
							<div class="am-form-content">
								<input type="tel" id="user-new-code" placeholder="短信验证码"  onblur = "redoreg()">
							</div>
							<a class="btn" href="javascript:void(0);" onclick = "getPhone()">
								<div class="am-btn am-btn-danger" id="yanzheng">验证码</div>
							</a>
						</div>
						<div class="info-btn">
							<div class="am-btn am-btn-danger" id="savePhone">保存修改</div>
						</div>

					</form>

				</div>
				<!--底部-->
			</div>
			<div style="position:absolute; top:190px; left:65px;">
			<aside class="menu">
				<ul>
					<li class="person">
						<a href="{:url('index/user/information')}">个人中心</a>
					</li>
					<li class="person">
						<a href="{:url('index/user/information')}">个人资料</a>
						<ul>
							<li class="active"> <a href="{:url('index/user/information')}">个人信息</a></li>
							<li> <a href="{:url('index/user/safety')}">安全设置</a></li>
							<li> <a href="{:url('index/user/address')}">收货地址</a></li>
						</ul>
					</li>
					<li class="person">
						<a href="#">我的交易</a>
						<ul>
							<li><a href="{:url('index/order/order')}">订单管理</a></li>
							<li> <a href="{:url('index/order/change')}">退款售后</a></li>
						</ul>
					</li>
				

					<li class="person">
						<a href="#">我的小窝</a>
						<ul>
							<li> <a href="{:url('index/collection/collection')}">收藏</a></li>
							<li> <a href="{:url('index/collection/foot')}">足迹</a></li>
							<li> <a href="{:url('index/collection/comment')}">评价</a></li>
							<li> <a href="{:url('index/collection/news')}">消息</a></li>
						</ul>
					</li>

				</ul>
			</aside>
	    </div>
		</div>
	</body>
</html>
<script type="text/javascript">
	$("#user-new-phone").blur(function(){
		var Phone = $("#user-new-phone").val();
		if(!(/^1[3|4|5|7|8][0-9]{9}$/.test(Phone)))
        {
        	$("#user-new-phone").css('border', '1px solid red');
        	$("#user-new-phone").val('手机格式不合法');
            return false;
        }
        return true;
	})
</script>
<script type="text/javascript">
	var yanzhengma;
	function sendMobileCode()
	{
		var phonenum = $("#user-phone").val();
		$.post("{:url('index/user/dosafety')}",{phone: phonenum},function(data){
			yanzhengma = data['notice'];
			console.log(yanzhengma);
		},'json');
	}
	 function doreg(){
        if($("#user-code").val() == yanzhengma){
            return true;
        }else{
           alert('验证码错误，请稍后重试');
        }
   }
</script>
<script type="text/javascript">
var yanzhengcode;
var phone;
var flag = false;
   function getPhone(){
    flag = false;
    var big;
    if($("#user-new-phone").val() == ''){
        alert('请输入手机号');
    }else{
        $("#yanzheng").removeAttr('onclick');
        if(!flag){
            flag = true;
            var num = 60;
            $("#yanzheng").val('已发送'+ '(' + num-- + ')');
            phone = $("#user-new-phone").val();
            alert(phone);
            $.post("{:url('index/user/dosafety')}",{phone: phone},function(data){
				yanzhengcode = data['notice'];
				console.log(yanzhengcode);
			},'json');
            
            if(flag){
                big = setInterval(function(){
                    $("#yanzheng").val('已发送'+ '(' + num-- + ')');
                    if(num == -1){
                        $("#yanzheng").val('获取');
                        num = 60;
                        flag = false;
                        clearInterval(big);
                    }
                },1000);
            }
        }
    }
  }
   function redoreg(){
        if($("#user-new-code").val() == yanzhengcode){
            return true;
        }else{
           alert('验证码错误，请稍后重试');
        }
   }
</script>
<script type="text/javascript">
	$("#savePhone").click(function(){
		var newPhone = $("#user-new-phone").val();
		$.post("{:url('index/user/upPhone')}",{newPhone:newPhone},function(data){
			console.log(data);
		},'json');
	});
</script>